:root {
  /*
   * Color palette
   */
  --palette-neutral-0-rgb: 8, 15, 17;
  --palette-neutral-800-rgb: 184, 187, 188;
  --palette-neutral-900-rgb: 215, 216, 217;

  --palette-yellow-200-rgb: 41, 32, 19;
  --palette-yellow-800-rgb: 245, 185, 68;
  --palette-yellow-700-rgb: 202, 153, 59;

  /*
   * Font
   */
  --font-default: system-ui;
}
